body {
    font-family: Arial, sans-serif;
    text-align: center; /* Centra todo el contenido */
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la viewport */
    /* ... otros estilos */
}

h1 {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
    padding: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #e0e0e0;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .container {
        max-width: 90%; /* Ajusta el ancho máximo para pantallas pequeñas */
    }
}